body{
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}
.RegLog{
    margin: 7% auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    border: 1px solid rgb(196, 196, 196);
}
.RegLog h3, label{
    padding: 10px;
}
.form{
    text-align: left;
    padding: 10px;
}
.form input{
    width: 100%;
    padding: 10px;
}
.btn{
 background-color: rgb(23, 170, 211);
 color: white;
 padding: 5px;
 margin: 5px;
}
.a{
    color: black;
    text-decoration-line: underline;
    cursor: pointer;
}
@media only screen and (max-width: 786px) {
    .RegLog{
        width: 80%;
    }
}
